@import url('https://fonts.googleapis.com/css2?family=Nobile:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
  font-family: 'Nobile', sans-serif;
  background: linear-gradient(#FFF4EE, #BD7777, #CD91A5, #A168A1, #6F4480);
  color: #000000;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #000000;
  margin-top: -100px;
  position: relative;
  top: 35px;
  z-index: 1;
}

.header h1 {
  padding-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 20px;
}

.header-banner {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-height: 100px;
  max-width: 575px;
  top: 100px;
  object-fit: cover;
  z-index: -1;
}

h2 {
  font-weight: lighter;
}

.deadline {
  font-weight: 500;
  margin-top: 1rem;
}

.info-card {
  background: #FFFBF6;
  border-radius: 20px;
  padding: 2rem;
  margin: 2rem auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.info-card h2,
.info-card h3 {
  color: #000000;
  margin-top: 1.5rem;
}

.agreement {
  background: #FFFBF6;
  padding: 1rem 2rem;
  border-radius: 20px;
  position: relative;
}

.info-card .italics,
.agreement .italics,
.form-section .italics {
  font-style: italic;
}

.section-header {
  display: flex;
  flex-direction: column;
  position: relative;
  /* align-items: left; */
  /* text-align: left; */
  top: 40px;
  right: 5rem;
}

.section-header h2 {
  color: #FFFFFF;
  margin-left: -275px;
  text-align: center;
  bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  z-index: 1;
}

.section-banner {
  display: flex;
  position: relative;
  width: 60%;
  top: 65px;
  right: 125px;
  margin: 0 auto;
  z-index: 1;
}

.form-section {
  background: #FFFBF6;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  position: relative;
}

.yorku-header {
  right: 300px;
  padding-left: 10rem;
  margin-left: 13rem;
}

.info-card,
.agreement,
.form-section {
  max-width: 850px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  max-width: 1000px;
}

.otherText {
  width: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

input, select {
  padding: 0.6rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.radio-group, .radio-block {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.agreement label,
.radio-group label, 
.radio-block label,
.checkbox-grid label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-weight: normal;
}

.checkbox-grid {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin: 1rem 0;
}

/* --- Image Styling --- */
.decor {
  position: absolute;
  pointer-events: none;
}

.party-popper {
  width: 110px;
  top: -70px;
  left: 30px;
}

.balloon-10 {
  width: 150px;
  top: -80px;
  right: -55px;
}

.headphones {
  width: 100px;
  bottom: -10px;
  left: -45px;
}

.balloons-participant {
  width: 100px;
  left: -20px;
  z-index: 2;
}

.balloons-country-bg {
  width: 180px;
  top: -60px;
  z-index: 1;
  right: -200px;
}

.balloons-education {
  width: 130px;
  bottom: -20px;
  right: 5px;
}

.flask {
  width: 120px;
  top: -105px;
  left: 290px;
  z-index: 1;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin-top: 1rem;
  padding-left: 0;
  align-self: flex-start;
}

.btnBack, .btnNext {
  font-family: 'Nobile', sans-serif;
  color: #FFFFFF;
  background-color: #BD7777;
  width: 75px;
  height: 40px;
  border: none;
  border-radius: 5px;
  border-color: #BD7777;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnBack:hover, .btnNext:hover {
  background-color: #a66565;
}
