.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
    height: clamp(60px, 7.64vw, 110px);
    background: rgba(255, 249, 246, 0.63);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    z-index: 100;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: clamp(10px, 2vw, 25px);
    margin-left: auto;
    margin-right: 15px;
}

.navLinks a {
    font-size: clamp(18px, 1vw, 18px);
    line-height: 25px;
    color: #412200;
    text-decoration: none;
    font-weight: 500;
}

.navLinks a:hover {
    color: #D1A996;
}

.logo {
    width: clamp(75px, 3vw, 60px);
    height: clamp(75px, 3.5vw, 65px);
    background: url('../../../assets/icon.png') no-repeat center;
    background-size: contain;
    opacity: 1;
}

.login {
    font-family: 'Nobile', sans-serif;
    align-items: center;
    text-align: center;
    background-color: #BD7777;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    width: clamp(75px, 3vw, 80px);
    height: clamp(20px, 4vw, 40px);
    padding: 8px 16px;
    font-size: clamp(16px, 1vw, 18px);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login:hover {
    background-color: #A65F5F;
}

/* MOBILE NAV */
.hamburger {
    display: none;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 101;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #412200;
    border-radius: 10px;
    margin-bottom: 5px;
}

.hamburger span:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 0 clamp(10px, 4vw, 20px);
    }

    .logo {
        width: min(8vw, 60px);
        height: min(8vw, calc(clamp(70px, 15vw, 90px) - 10px));
    }

    .hamburger {
        display: block;
    }

    .navLinks {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgba(255, 249, 246, 0.85);
        flex-direction: column;
        align-items: center;
        padding: 20px;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
        z-index: 98;
    }

    .navLinks.active {
        display: flex;
    }

    .navLinks a {
        font-size: 16px;
        margin: 10px 0;
        text-align: center;
    }
}
